@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

body {
  background-color: rgb(41, 44, 52);
  margin: 0;
  padding: 0;
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.chart-container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(41, 44, 52);
  height: 100px;
}

.h1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}