.text-container a {
  color: #3498db;
  text-decoration: none;
  position: relative;
  transition: color 0.1s ease;
}

.text-container a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #3fb2ff;
  transition: width 0.2s ease;
}

.text-container a:link,
.text-container a:visited {
  color: #3498db;
}

.text-container a:hover {
  color: #3fb2ff;
}

.text-container a:hover::after {
  width: 100%;
}

.text-container a:active {
  color: #1a66bc;
}

.text-container a:active::after {
  background-color: #1a66bc;
  width: 100%;
}

.text-container p {
  width: 90%;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .text-container h1 {
    font-size: 30px;
  }

  .text-container h2 {
    font-size: 25px;
  }

  .text-container p {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .text-container h1 {
    font-size: 25px;
  }

  .text-container h2 {
    font-size: 20px;
  }

  .text-container p {
    margin: 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  .text-container h1 {
    font-size: 20px;
  }

  .text-container h2 {
    font-size: 15px;
  }

  .text-container p {
    font-size: 13px;
  }
}