@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

body {
  background-color: #292c34;
  margin: 0;
  padding: 0;
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.chart-container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #292c34;
  height: 150px;
}

.home,
.register,
.user,
.signout,
.about,
.contact {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  font-size: 40px;
  z-index: 1;
}

.home::after,
.register::after,
.user::after,
.signout::after,
.about::after,
.contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.5s ease;
}

.home:hover::after,
.register:hover::after,
.user:hover::after,
.signout:hover::after,
.about:hover::after,
.contact:hover::after {
  width: 100%;
}

.user {
  cursor: default;
}

.text-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  color: white;
}

.text-container h1 {
  font-size: 40px;
}

.text-container h2 {
  font-size: 30px;
}

.text-container p {
  font-size: 20px;
}

.text-info {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 90px;
}

#dailyChart,
#mapChart {
  cursor: pointer;
}
