@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

body {
  background-color: #292c34;
  margin: 0;
  padding: 0;
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

.chart-container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #292c34;
  height: 150px;
}

.home,
.register,
.user,
.signout,
.about,
.contact {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 40px;
  z-index: 1;
}

.home::after,
.register::after,
.user::after,
.signout::after,
.about::after,
.contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.5s ease;
}

.home:hover::after,
.register:hover::after,
.user:hover::after,
.signout:hover::after,
.about:hover::after,
.contact:hover::after {
  width: 100%;
}

.user {
  cursor: default;
}

.text-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
}

.text-container h1 {
  font-size: 40px;
}

.text-container h2 {
  font-size: 30px;
}

.text-container p {
  font-size: 20px;
  width: 90%;
}

.text-info {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

#select {
  background-color: #3a3c46;
  color: #ffffff;
  padding: 10px;
  border: 1px solid #3665ff80;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

#select:active {
  outline: none;
  border-color: #7a7d8b;
  box-shadow: 0 0 5px #7a7d8b;
}

#dailyChart,
#mapChart {
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .header {
    height: 100px;
  }

  .home,
  .register,
  .user,
  .signout,
  .about,
  .contact {
    font-size: 30px;
  }

  .text-container h1 {
    font-size: 30px;
  }

  .text-info {
    font-size: 20px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    height: 80px;
  }

  .home,
  .register,
  .user,
  .signout,
  .about,
  .contact {
    font-size: 20px;
  }

  .text-info {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 60px;
  }

  .home,
  .register,
  .user,
  .signout,
  .about,
  .contact {
    font-size: 15px;
  }

  .text-container p {
    font-size: 15px;
  }

  .text-info {
    margin-top: 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 50px;
  }

  .home,
  .register,
  .user,
  .signout,
  .about,
  .contact {
    font-size: 10px;
  }

  .text-container h1 {
    font-size: 25px;
  }

  .text-info {
    margin-top: 10px;
    font-size: 10px;
  }
  
}